In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City=ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Barrow,US,2022-05-06 02:56:47,71.2906,-156.7887,18.30,90,100,13.04
1,1,Khatanga,RU,2022-05-06 02:56:48,71.9667,102.5000,19.99,84,48,16.46
2,2,Tazovskiy,RU,2022-05-06 02:56:49,67.4667,78.7000,14.86,82,9,11.10
3,3,Bluff,NZ,2022-05-06 02:56:49,-46.6000,168.3333,59.63,76,100,5.32
4,4,Busselton,AU,2022-05-06 02:56:50,-33.6500,115.3333,63.25,48,0,13.15

In [3]:
city_data_df.dtypes

City=ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature that you would like for your trip? "))
max_temp = float(input("What is the maximum temperature that you would like for your trip? "))

What is the minimum temperature that you would like for your trip? 50
What is the maximum temperature that you would like for your trip? 70

In [11]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City=ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Bluff,NZ,2022-05-06 02:56:49,-46.6000,168.3333,59.63,76,100,5.32
4,4,Busselton,AU,2022-05-06 02:56:50,-33.6500,115.3333,63.25,48,0,13.15
6,6,Moosomin,CA,2022-05-06 02:56:51,50.1333,-101.6677,58.46,64,92,12.86
8,8,Jamestown,US,2022-05-06 02:56:52,42.0970,-79.2353,55.06,62,100,1.01
11,11,Marrakesh,MA,2022-05-06 02:56:54,31.6315,-8.0083,66.27,48,0,5.75
16,16,Port Elizabeth,ZA,2022-05-06 02:56:57,-33.9180,25.5701,62.31,96,0,12.66
18,18,Muros,ES,2022-05-06 02:56:58,42.7762,-9.0603,54.84,77,18,11.03
19,19,Mataura,NZ,2022-05-06 02:56:58,-46.1927,168.8643,63.95,67,100,1.86
22,22,Flinders,AU,2022-05-06 02:57:00,-34.5833,150.8552,68.18,47,0,10.00
24,24,Hobart,AU,2022-05-06 02:54:40,-42.8794,147.3294,57.06,87,75,9.22

In [12]:
preferred_cities_df.count()

City=ID       188
City          188
Country       185
Date          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
dtype: int64

In [13]:
#create a df called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3            Bluff      NZ     59.63 -46.6000  168.3333
4        Busselton      AU     63.25 -33.6500  115.3333
6         Moosomin      CA     58.46  50.1333 -101.6677
8        Jamestown      US     55.06  42.0970  -79.2353
11       Marrakesh      MA     66.27  31.6315   -8.0083
16  Port Elizabeth      ZA     62.31 -33.9180   25.5701
18           Muros      ES     54.84  42.7762   -9.0603
19         Mataura      NZ     63.95 -46.1927  168.8643
22        Flinders      AU     68.18 -34.5833  150.8552
24          Hobart      AU     57.06 -42.8794  147.3294

In [14]:
#set the parameters to search for a hotel
params = {
    "radius":5000,
    "type":"lodging",
    "key": g_key
}

In [15]:
#iterate through the df
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make request and get the json data from the search
    hotels = requests.get(base_url, params=params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Bluff,NZ,59.63,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
4,Busselton,AU,63.25,-33.6500,115.3333,Observatory Guest House
6,Moosomin,CA,58.46,50.1333,-101.6677,Motel 6
8,Jamestown,US,55.06,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,Marrakesh,MA,66.27,31.6315,-8.0083,Les Jardins de La Koutoubia
16,Port Elizabeth,ZA,62.31,-33.9180,25.5701,39 On Nile Guest House
18,Muros,ES,54.84,42.7762,-9.0603,Apartment Av. Castelao
19,Mataura,NZ,63.95,-46.1927,168.8643,Ellie's Villa
22,Flinders,AU,68.18,-34.5833,150.8552,Shellharbour Resort & Conference Centre
24,Hobart,AU,57.06,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

#add a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0,31.0),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))